{% extends "admin/base.html" %}

{% block title %} CENTRO VETERINARIO {% endblock %}
    {% block extrastyle %}
        <style>
                div#header {
                    background: #06a11b!important;
                }
                div .breadcrumbs{
                    background:#2E2E2E;
                }
                
                #content-related {
                    background: #f8f8f8;
                    margin-left: 2em;
                }

                #changelist #toolbar form input[type="submit"] {
                    background: #06a11b!important;
                    color: white!important;
                }

                .object-tools a.addlink {
                    background-image: url(../img/tooltag-add.svg);
                    background: #06a11b!important;
                    color: white!important;
                }

                #changelist-filter h2 {
                    background:#06a11b!important;
                }

                #changelist-filter ul {
                    background:#E6E6E6!important;
                }
                
                #changelist-filter {
                    background: #e6e6e6!important;
                    border-color: black!important;
                }
                .caption, .inline-group h2{
                    background:green!important;
                }

                a.section:link, a.section:visited {
                color: white!important;
                }

                .module caption, .inline-group h2 {
                    padding: 3px 10px;
                    color: white !important;
                    padding: 3px 10px;
                    border: PowderBlue 5px solid;
                    border-top-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    }      

                .form-row{
                     background:#f7f4f4 !important;   
                        opacity:0.6;
               filter:alpha(opacity=60); /* IE < 9.0 */
             
                }
                .dashboard #content {
                    width: auto;
                    margin-left: 3em;
                }
                #header a:visited{
                    color: yellow;
                }
                #header {
                    height:100px
                }
                #header a:link, #header a:visited{
                    color: yellow;
                }
                a {
                    font-size:15px; 
                }
                .form-row{

                }

                .flex {
                    background:#E6E6E6;
                }

                .colMS{
                    background:#E6E6E6;
                }
                .module{
                    background:#E6E6E6;
                }
                .actionlist{
                    background:#E6E6E6;
                }
                .colM{
                    background:#c4c4c4;
                }
                .inline-group thead th {
                    background: #CEF6D8;
                }
        </style>
    {% endblock %}
                {% block branding %}
                    <h1 id="site-name">
                        <a href="{% url 'admin:index' %}">
                        </a>
                    </h1>
                {% endblock %}

                {% block nav-global %}
                {% endblock %}
