{% extends "easy_pdf/base.html" %}

{% block content %}

    <!DOCTYPE html>
    <html>
    <head>
        <style type="text/css">
        body {
        color: black;
        background-color: #FF8000 }
        </style>
        <meta charset="utf-8">
        <meta name="author" content="">
        <title>Cliente Número: {{ cliente.NIT }}</title>
    </head>
    <body>
    <div id="content">
		<h1>Variedades Toto's</h1>
        <h2>DETALLES DE CLIENTE</h2>
            <table>
                <tr>
                    <th>
                        NIT:
                    </th>
                    <td >
                        {{ cliente.NIT }}
                    </td>                 
                </tr>
                <tr>
                    <th>
                        Nombre:
                    </th>
                    <td>
                        {{ cliente.nombre }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Apellido:
                    </th>
                    <td>
                        {{ cliente.apellido }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Direccion:
                    </th>
                    <td>
                        {{ cliente.direccion }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Telefono:
                    </th>
                    <td>
                        {{ cliente.telefono }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Genero:
                    </th>
                    <td>
                        {{ cliente.genero }}
                    </td>
                </tr>
            </table>
            </table>
    </div>
    </body>
    </html>
{% endblock %}